# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apps/landing/node_modules
/apps/tradeia/node_modules
/apps/tradeia/.pnp
/apps/tradeia/.pnp.*
/apps/tradeia/.yarn/*
/apps/tradeia/.yarn/patches
/apps/tradeia/.yarn/plugins
/apps/tradeia/.yarn/releases
/apps/tradeia/.yarn/versions

# testing
/coverage

# next.js
/apps/tradeia/.next/
/apps/tradeia/out/

# production
/apps/tradeia/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
apps/tradeia/node_modules/.bin/autoprefixer.CMD
.env
